@using TravelAPI.Models

@model List<TravelAPI.Models.Destination>




@using (Html.BeginForm("Sort", "Destination", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString")  
        <input type="submit" value="Search" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Rating", "Sort", new { sortOrder = ViewBag.RatingSortParm })
        </th>
        <th>Rating
        </th>
        <th>
            @Html.ActionLink("Country", "Sort", new { sortOrder = ViewBag.CountrySortParm })
        </th>
        <th></th>
    </tr>


@foreach (Destination destination in Model) 
{
    <li>@destination.City, @destination.Country</li>
}
</table>
<hr>
<button class="bottom">@Html.ActionLink("Go To About", "About")</button>
